<html>
	<head>
		<script type="text/javascript" src="public/js/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="public/js/imagesloaded.pkgd.min.js"></script>
		<script type="text/javascript" src="public/js/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="public/js/main.css"></script>
		<title><%= title %></title>
		<script type="text/javascript">
			jQuery(function($){
				var $container = $('.grid');
				$container.imagesLoaded(function(){
					$container.masonry({
						itemSelector: '.grid-item',
						//columnWidth: 180, 
						isFitWidth: true  //親要素の幅に合わせてカラム数を自動調整
					}); 
				});
			});
		</script>
	  </head>
	<body>
		<div id="header">Header</div>
		<div id="body">
			<div class="grid">
				<div class="grid-item">item1</div>
				<div class="grid-item grid-item--width2">item2</div>
				<div class="grid-item">item3</div>
			</div>
		</div>
		<div id="footer">Footer</div>
	</body>
</html>